.section-two {
  position: relative;
  background: url("../../assets/Ahorrar-es-simplia-Pcs.png") center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 60px 20px;
  min-height: 100vh;
}



/* Fondo alternativo en móviles */
@media (max-width: 768px) {
  .section-two {
    background: url("../../assets/Ahorrar-es-simplia-mobile.png") center/cover no-repeat;
    padding: 100px 15px;
  }
}

