.section-six {
  background-color: #070625;
  padding: 60px 20px;
  text-align: center;
  color: white;
}
@font-face {
  font-family: 'GriftSemiblod';
  src: url('../../assets/fonts/GRIFT-SEMIBOLD.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LaboraRegular';
  src: url('../../assets/fonts/LABORA-REGULAR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.section-title {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 0px;
  position: relative;
  font-family: 'LaboraRegular'
}

.section-subtitle {
  font-size: 30px;
  font-family: 'GriftSemiblod';
  margin-top: 0;
  margin-bottom: 40px;
  
}

.netflix-card {
  grid-row: span 2;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.guides-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.guides-grid img {
  width: 100%;
  border-radius: 12px;
  transition: transform 0.3s ease;
  cursor: pointer;
  object-fit: contain;
}

.guides-grid img:hover {
  transform: scale(1.05);
}

.netflix-card {
  grid-row: span 2;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
@media (max-width: 480px) {
  .section-six .section-title {
    font-size: 28px;
    line-height: 1.2;
  }

  .section-six .section-subtitle {
    font-size: 18px;
    padding: 0 12px;
    line-height: 1.4;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  position: relative;
  background: white;
  padding: 10px;
  border-radius: 12px;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.popup-content {
  position: relative;
  background: white;
  padding: 10px;
  border-radius: 12px;
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto;  
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.popup-content img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease, transform 0.2s ease;
}

.close-btn:hover {
  background-color: rgba(252, 252, 252, 0.35);
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .close-btn {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }
}

